---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
---
<Layout title="Said Ali">
	<main id="main">
		<Header />
		<Hero />
		<About />
		<Projects />
		<Contact />
	</main>
</Layout>