---
import SectionTitle from "./SectionTitle.astro"
---
<article class="contact | wrapper flow" id="contact">
    <SectionTitle title="Contact me" />
    <form
        class="form | bg-primary flow"
        action="https://formspree.io/f/mgedbqlj"
        method="POST"
    >
        <div class="form__name | flex">
            <label class="form__name-label | fs-600" for="client-name">Name</label>
            <input
                class="form__name-input | fs-500 ff-heading bg-light"
                type="text"
                name="client-name"
                id="client-name"
                required
                placeholder="Your name"
            />
        </div>
        <div class="form__email | flex">
            <label class="form__email-label | fs-600" for="email">Email</label>
            <input
                class="form__email-input | fs-500 ff-heading bg-light"
                type="email"
                name="email"
                id="email"
                required
                placeholder="Your email"
            />
        </div>
        <div class="form__message | flex">
            <label class="form__message-label | fs-600" for="message"
                >Message</label
            >
            <textarea
                class="form__message-textarea | fs-500 ff-heading bg-light"
                name="message"
                id="message"
                required
                placeholder="Your message"
            ></textarea>
        </div>
        <div>
            <button
                class="form__button btn-primary | bg-accent text-primary ff-heading fw-bold fs-500"
                type="submit"
            >
                Submit
            </button>
        </div>
    </form>
</article>

<style>
.contact{
    padding-block: calc(var(--space-2xl-3xl) * 2);
}

.form__name,.form__email,.form__message{
    flex-direction: column;
}

input, textarea{
    padding: 1rem;
    border: 2px solid hsl(var(--clr-secondary));
    border-radius: .5rem;
    box-shadow: 0 0 5px hsl(0 0% 0% / .35);
    transition: box-shadow .3s ease, border-color .3s ease;
}

input:where(:focus,:focus-within),
textarea:where(:focus,:focus-within) {
    border-color: hsl(var(--clr-accent));
    box-shadow: 0 0 64px -10px hsl(0 0% 0% / .35);
    outline: none;
}

textarea{
    min-height: 15rem;
}
</style>