<footer class="footer | wrapper flow">
<hr>
    <h3 class="ff-heading fs-500 fw-bold">Said Ali</h3>
    <p>Driven by <span class="ff-heading text-accent fw-bold">passion</span>, I build <span class="ff-heading text-accent fw-bold">engaging</span> and <span class="ff-heading text-accent fw-bold">functional</span> web interfaces.</p>
</footer>

<style>
.footer{
    padding-bottom: calc(var(--space-m) * 2);
}
</style>