<header class="wrapper">
    <div class="primary-header | bg-primary ff-heading" data-primary-nav>
        <div class="flex wrapper">
            <a
                class="skip-nav-link | bg-accent text-primary fs-400 no-underline"
                href="#main"
                >Skip to main content</a
            >
            <a class="logo | flex" href="/">
                <div><img class="logo__image" src="../../public/images/icon.webp" alt=""></div>
                <span class="logo__text | fs-500 fw-bold no-underline">
                    Said Ali
                </span>
            </a>
            <button
                class="header-menu-toggler"
                data-menu-toggler
                aria-controls="primary-navigation"
                aria-expanded="false"
                aria-label="Menu"
            >
                <span class="hamburger"></span>
            </button>
            <nav>
                <ul
                    id="primary-navigation"
                    class="header-menu | text-secondary uppercase flex"
                    data-header-menu
                    role="list"
                    data-visible="false"
                >
                    <li><a class="fw-bold" href="#about">About</a></li>
                    <li><a class="fw-bold" href="#projects">Projects</a></li>
                    <li><a class="fw-bold" href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<style>
    /* Primary navigation */
.primary-header {
    transform: translateY(-100%);
    inset: 0 0 auto 0;
    padding-inline-start: 3.4375rem;
    width: 100%;
    position: fixed;
    z-index: 2;
    box-shadow: 0 0px 64px -10px hsl(0 0% 0% / 0.35);
    transition: .3s transform .3s ease;
}

.primary-header > div {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 0;
    padding-block: var(--space-m);
}

.skip-nav-link {
    display: block;
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    left: 0;
    padding: 0.5em 1em;
    opacity: 0;
    translate: 0 -100%;
    transition: translate 400ms, opacity 400ms;
}

.skip-nav-link:focus {
    translate: 0 200%;
    opacity: 1;
}

.logo {
    padding-left: var(--space-m);
    align-items: center;
    transition: text-shadow .3s ease;
}

div:has(>.logo__image){
    position: relative;
    overflow: clip;
    border: 3px solid hsl(var(--clr-accent));
    border-radius: 50%;
}

.logo__image{
    width: 3rem;
    aspect-ratio: 1;
    transform: scale(1.5);
    border-radius: 50%;
    padding-top: 4px;
}

.header-menu a {
    transition: color 350ms ease-in-out;
    padding: var(--space-m);
    position: relative;
}

.header-menu a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    border-radius: 100vmax;
    background-color: hsl(var(--clr-accent));
    inset: auto 0 0 0;
    transform: translateY(var(--space-m));
    opacity: 0;
    transition: transform .3s ease, opacity .3s ease;
}

.header-menu a:is(:hover,:focus-within){
    color: hsl(var(--clr-accent));
}

@media (width > 35em) {
    .header-menu a:where(:hover,:focus-within)::before{
        transform: translateY(calc(var(--space-m) - 6px));
        opacity: 1;
    }
}

@media (width > 45em) {
    .primary-header {
        padding-inline: 0;
    }

    .logo {
        flex-shrink: 0;
    }
}

.header-menu-toggler {
    display: none;
}

.header-menu {
    gap: 1rem;
}

@media (width < 35em) {
    .primary-header {
        padding-inline-start: 0;
    }

    .header-menu-toggler {
        position: absolute;
        right: calc(var(--space-m) + 0.75rem);
        width: 1.25rem;
        aspect-ratio: 1;
        z-index: 2;
        display: block;
        border: 0;
        background-color: transparent;
    }

    .header-menu {
        position: fixed;
        background-color: hsl(var(--clr-primary));
        inset: -1rem 0 -1rem 30%;
        z-index: 1;
        flex-direction: column;
        padding: 108px 0 0 1rem;
        transform: translate(100%);
        transition: transform 0.35s ease-out;
    }

    .header-menu[data-visible="true"] {
        transform: translate(0);
    }

    .header-menu a {
        color: hsl(var(--clr-secondary));
        display: block;
        padding: 0;
    }

    .hamburger {
        position: relative;
        display: block;
    }

    .hamburger,
    .hamburger::before,
    .hamburger::after {
        width: 2rem;
        height: 3px;
        background-color: hsl(var(--clr-accent));
        transition: transform 350ms ease-in-out, opacity 200ms linear;
    }

    .hamburger::before,
    .hamburger::after {
        left: 0;
        content: "";
        position: absolute;
    }

    .hamburger::before {
        bottom: 6px;
    }

    .hamburger::after {
        top: 6px;
    }

    [aria-expanded="true"] .hamburger {
        transform: rotate(45deg);
    }

    [aria-expanded="true"] .hamburger::before {
        opacity: 0;
    }

    [aria-expanded="true"] .hamburger::after {
        transform: rotate(90deg) translate(-6px);
    }
}
</style>

<script>
    const menuToggler = document.querySelector("[data-menu-toggler]");
    const menu = document.querySelector("[data-header-menu]");
    
    menuToggler.addEventListener("click", () => {
        const visibility = menu.getAttribute("data-visible");
        if (visibility === "false") {
            menu.setAttribute("data-visible", true);
            menuToggler.setAttribute("aria-expanded", true);
        } else {
            menu.setAttribute("data-visible", false);
            menuToggler.setAttribute("aria-expanded", false);
        }
    });
    
    // To close the menu by clicking outside of it
    document.addEventListener("click", e => {
        if (!menu.contains(e.target) && !menuToggler.contains(e.target)) {
            console.log("You clicked outside the menu")
            menu.setAttribute("data-visible", false);
            menuToggler.setAttribute("aria-expanded", false);
        } else return
    })
</script>