<!-- Hero section -->
<article class="hero" data-hero>
    <div class="wrapper grid">
        <div class="flow text-center">
            <h1 class="fs-900 ff-heading fw-bold">
                Hey, I'm Said!
            </h1>
            <p class="hero__text | fs-500">
                Driven by <span class="ff-heading text-accent fw-bold">passion</span>, I build <span class="ff-heading text-accent fw-bold">engaging</span> and <span class="ff-heading text-accent fw-bold">functional</span> web interfaces.
            </p>
            <a
                class="hero__cta | bg-accent text-primary fs-500 ff-heading fw-bold btn-primary"
                href="#contact"
                >Let’s build something together</a
            >
        </div>
    </div>
</article>
<style>
.hero{
    background-image: url("../assets/hero-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.hero > div {
    min-height: 100vh;
    min-height: 100dvh;
    place-items: center;
}

.hero__text{
    max-width: 45ch;
}

.hero__cta {
    display: inline-block;
}
</style>