---
import Project from '../components/Project.astro';
import projectImage1 from '../assets/project 1.webp';
import projectImage2 from '../assets/project 2.webp';
---
<article class="projects | bg-light" id="projects">
    <div class="wrapper flow">
        <h3 class="section-title | fs-700 ff-heading fw-bold text-center">Projects</h3>
        <div class="grid">
                <Project projectTitle="Kasbiz Website" projectDescription="A website for a fictional consultant business" projectLink="https://kasbiz.netlify.app/" projectImage={projectImage1.src} />
                <Project projectTitle="Space Tourism Website" projectDescription="A challenge from Frontend Mentor" projectLink="https://saidibnali19.github.io/space-tourism-website/" projectImage={projectImage2.src} />
        </div>
    </div>
</article>
<style>
.projects {
    padding-block: calc(var(--space-2xl-3xl) * 2);
}

.projects > div {
    --flow-space: calc(var(--space-m) * 2);
}

.projects > div > div {
    row-gap: calc(var(--space-m) * 2);
}

</style>