---
import SectionTitle from '../components/SectionTitle.astro';
import Project from '../components/Project.astro';
import projects from '../database/projects.json';
---
<article class="projects | bg-light" id="projects">
    <div class="wrapper flow">
        <SectionTitle title="Projects" />
        <div class="grid">
            {projects.data.map((project) => (
                <Project projectTitle={project.projectTitle} projectDescription={project.projectDescription} projectImage={project.projectImage} />
              ))}
        </div>
    </div>
</article>
<style>
.projects {
    padding-block: calc(var(--space-2xl-3xl) * 2);
}

.projects > div {
    --flow-space: calc(var(--space-m) * 2);
}

.projects > div > div {
    row-gap: calc(var(--space-m) * 2);
}

</style>