<article class="projects | bg-light" id="projects">
    <div class="wrapper flow">
        <h2 class="fs-600">Projects</h2>
        <div class="grid">
            <article class="project | bg-primary grid">
                <img
                    src="images/project 1.webp"
                    loading="lazy"
                    alt=""
                    width="2560"
                    height="1600"
                />
                <h3 class="fs-500">Space Tourism Website</h3>
                <a
                    class="project__cta | text-accent uppercase btn-secondary"
                    href="https://saidibnali19.github.io/space-tourism-website/"
                    target="_blank"
                    >Visit site</a
                >
            </article>
            <article class="project | bg-primary grid">
                <img
                    src="images/project 2.webp"
                    loading="lazy"
                    alt=""
                    width="2542"
                    height="1136"
                />
                <h3 class="fs-500">Kazban Company Website</h3>
                <a
                    class="project__cta | text-accent uppercase btn-secondary"
                    href="https://kazban.netlify.app"
                    target="_blank"
                    >Visit site</a
                >
            </article>
            <article class="project | bg-primary grid">
                <img
                    src="images/project 3.webp"
                    loading="lazy"
                    alt=""
                    width="1027"
                    height="566"
                />
                <h3 class="fs-500">Kasbiz Consultants Website</h3>
                <a
                    class="project__cta | text-accent uppercase btn-secondary"
                    href="https://kasbiz.netlify.app/"
                    target="_blank"
                    >Visit site</a
                >
            </article>
        </div>
    </div>
</article>