---
const { title } = Astro.props;
---

<h2 class="title | fs-700 fw-bold text-center">{title}</h2>

<style>
    .title{
            position: relative;
            padding-bottom: var(--space-m);
        }

        .title::before{
            content: "";
            position: absolute;
            width: 2.5rem;
            height: 5px;
            background-color: hsl(var(--clr-accent));
            border-radius: 100vmax;
            inset: auto auto 0 auto;
            margin-left: calc(var(--space-m) * 2);
        }
</style>